<div class="full-box d-flex flex-row justify-content-center align-items-center">
  <div class="loading-image">
    <h3>감사합니다 !</h3>
  </div>
</div>

<style>
  .full-box {
    width: 100vw;
    height: 100vh;
  }
</style>
